body {
  margin: 0;
  font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen', 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  background-color: rgb(6, 6, 25);
  background: linear-gradient(to left, rgb(6, 6, 25), rgb(15, 5, 59));
}
